<a href="https://colab.research.google.com/github/klaxonlet/CE888_2020/blob/master/lab2_task(bootstrap).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib
import pandas as pd
import seaborn as sns
import numpy as np

In [0]:
# Load the data
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab2%20-%20bootstrap/customers.csv')
data = df.values.T[1]
data

Bootstrap function

In [0]:
# Checking the notes from the lecture, create here your own bootstrap function:
# 1. Create an array of samples of shape (n_iterations, sample_size)
# 2. Calculate and save the mean of the array (this is "data_mean" that is returned by the function)
# 3. In each iteration:
# 3.1 Get the data corresponding to that iteration (new_samples[iteration, :])
# 3.2 Calculate the mean of the iteration data and store it
# (At this point you should have an array of n_iterations values)
# 4. Calculate the lower and upper bounds for a 95% CI (hint: check the percentile function on Numpy)
# 5. Return data_mean, and the lower and upper bounds of your interval

def bootstrap_mean(sample, sample_size, n_iterations):
  samples = np.random.choice(sample,size=(n_iterations,sample_size))
  data_mean = np.mean(samples,axis = 1)
  lower = np.percentile(data_mean,2.5)
  upper = np.percentile(data_mean,97.5)
  return data_mean, lower, upper

Bootstrap function with confidence interval as parameter

In [74]:
def bootstrap_mean_ci(sample, sample_size, n_iterations,ci):
  samples = np.random.choice(sample,size=(n_iterations,sample_size))
  data_mean = np.mean(samples,axis = 1)
  upper = np.percentile(data_mean,(100-((100-ci)/2)))
  lower = np.percentile(data_mean,((100-ci)/2))
  return data_mean, lower, upper

bootstrap_mean_ci(data,5,6,95)

(array([ 7.2, 10.8, 17.4, 11.4, 11.8, 12.4]), 7.65, 16.775)

Plot the results of bootstrap function

In [0]:
boots = []
for i in range(100, 100000, 1000):
    boot = bootstrap_mean(data, data.shape[0], i)
    boots.append([i, boot[0], "mean"])
    boots.append([i, boot[1], "lower"])
    boots.append([i, boot[2], "upper"])

df_boot = pd.DataFrame(boots, columns=['Boostrap Iterations', 'Mean', "Value"])
sns_plot = sns.lmplot(df_boot.columns[0], df_boot.columns[1], data=df_boot, fit_reg=False, hue="Value")

sns_plot.axes[0, 0].set_ylim(0,)
sns_plot.axes[0, 0].set_xlim(0, 100000)

#sns_plot.savefig("bootstrap_confidence.png", bbox_inches='tight')
#sns_plot.savefig("bootstrap_confidence.pdf", bbox_inches='tight')

Plot the results of bootstrap function with ci as parameter

In [0]:
boots = []
for i in range(100, 100000, 1000):
    boot = bootstrap_mean_ci(data, data.shape[0], i, 80)
    boots.append([i, boot[0], "mean"])
    boots.append([i, boot[1], "lower"])
    boots.append([i, boot[2], "upper"])

df_boot = pd.DataFrame(boots, columns=['Bootstrap Iterations', 'Mean', "Value"])
sns_plot = sns.lmplot(df_boot.columns[0], df_boot.columns[1], data=df_boot, fit_reg=False, hue="Value")

sns_plot.axes[0, 0].set_ylim(0,)
sns_plot.axes[0, 0].set_xlim(0, 100000)

sns_plot.savefig("bootstrap_confidence_80.png", bbox_inches='tight')
sns_plot.savefig("bootstrap_confidence_80.pdf", bbox_inches='tight')

Vehicles dataset

In [99]:
vehicles_df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab2%20-%20bootstrap/vehicles.csv')
vehicles_data = vehicles_df.values.T[1]
vehicles_data = vehicles_data[~np.isnan(vehicles_data)]
vehicles_df

     Current fleet  New Fleet
0               18       24.0
1               15       27.0
2               18       27.0
3               16       25.0
4               17       31.0
..             ...        ...
244             27        NaN
245             27        NaN
246             32        NaN
247             28        NaN
248             31        NaN

[249 rows x 2 columns]